@model ImagineCupBTrees.Models.Plantgroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Plantgroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemperatureF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemperatureF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Humidity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Humidity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lux)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lux)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoilMoisture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoilMoisture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoggerOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoggerOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoilerOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoilerOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BonsaiOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BonsaiOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
